USE [master]
GO
/****** Object:  Database [he_thong_thi_bang_lai]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE DATABASE [he_thong_thi_bang_lai]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'he_thong_thi_bang_lai', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\he_thong_thi_bang_lai.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'he_thong_thi_bang_lai_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\he_thong_thi_bang_lai_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [he_thong_thi_bang_lai].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [he_thong_thi_bang_lai]
GO
/****** Object:  User [tblx_app]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE USER [tblx_app] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [phuctai_dev]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE USER [phuctai_dev] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ngochoang_dev]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE USER [ngochoang_dev] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [khang_dev]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE USER [khang_dev] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [huuhao_dev]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE USER [huuhao_dev] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [dev_remote]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE USER [dev_remote] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [tblx_app]
GO
ALTER ROLE [db_owner] ADD MEMBER [phuctai_dev]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [phuctai_dev]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [phuctai_dev]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [phuctai_dev]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [phuctai_dev]
GO
ALTER ROLE [db_datareader] ADD MEMBER [phuctai_dev]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [phuctai_dev]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [phuctai_dev]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [phuctai_dev]
GO
ALTER ROLE [db_owner] ADD MEMBER [ngochoang_dev]
GO
ALTER ROLE [db_owner] ADD MEMBER [khang_dev]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [khang_dev]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [khang_dev]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [khang_dev]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [khang_dev]
GO
ALTER ROLE [db_datareader] ADD MEMBER [khang_dev]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [khang_dev]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [khang_dev]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [khang_dev]
GO
ALTER ROLE [db_owner] ADD MEMBER [huuhao_dev]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [huuhao_dev]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [huuhao_dev]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [huuhao_dev]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [huuhao_dev]
GO
ALTER ROLE [db_datareader] ADD MEMBER [huuhao_dev]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [huuhao_dev]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [huuhao_dev]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [huuhao_dev]
GO
ALTER ROLE [db_owner] ADD MEMBER [dev_remote]
GO
/****** Object:  Table [dbo].[bai_thi]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bai_thi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[hoc_vien_id] [bigint] NOT NULL,
	[de_thi_id] [bigint] NOT NULL,
	[ca_thi_id] [bigint] NOT NULL,
	[thoi_gian_bat_dau] [datetime2](7) NULL,
	[thoi_gian_nop] [datetime2](7) NULL,
	[tong_so_cau] [int] NOT NULL,
	[so_cau_dung] [int] NOT NULL,
	[diem] [decimal](5, 2) NOT NULL,
	[ket_qua] [varchar](20) NULL,
	[trang_thai] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buoi_hoc]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buoi_hoc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[lop_hoc_id] [bigint] NOT NULL,
	[ten_buoi] [nvarchar](150) NOT NULL,
	[ngay_hoc] [date] NOT NULL,
	[gio_bat_dau] [time](7) NOT NULL,
	[gio_ket_thuc] [time](7) NOT NULL,
	[noi_dung] [nvarchar](500) NULL,
	[phong_hoc] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ca_thi]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ca_thi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ky_thi_id] [bigint] NOT NULL,
	[ma_ca_thi] [varchar](30) NOT NULL,
	[ten_ca_thi] [nvarchar](150) NOT NULL,
	[gio_bat_dau] [time](7) NOT NULL,
	[gio_ket_thuc] [time](7) NOT NULL,
	[phong_thi] [nvarchar](100) NULL,
	[so_luong_toi_da] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_ca_thi_ma] UNIQUE NONCLUSTERED 
(
	[ma_ca_thi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[parent_id] [bigint] NULL,
	[ma_danh_muc] [varchar](50) NOT NULL,
	[ten_danh_muc] [nvarchar](150) NOT NULL,
	[slug] [varchar](200) NOT NULL,
	[mo_ta] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [bigint] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_categories_ma_danh_muc] UNIQUE NONCLUSTERED 
(
	[ma_danh_muc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_categories_slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cau_hoi]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cau_hoi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[chu_de_id] [bigint] NOT NULL,
	[noi_dung] [nvarchar](max) NOT NULL,
	[loai_cau_hoi] [varchar](30) NOT NULL,
	[muc_do] [varchar](30) NULL,
	[la_cau_diem_liet] [bit] NOT NULL,
	[trang_thai] [varchar](30) NOT NULL,
	[giai_thich_dap_an] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[certificates]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[certificates](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_chung_chi] [varchar](50) NOT NULL,
	[hoc_vien_id] [bigint] NOT NULL,
	[exam_result_id] [bigint] NOT NULL,
	[ngay_cap] [datetime2](7) NOT NULL,
	[ngay_het_han] [datetime2](7) NULL,
	[trang_thai] [varchar](30) NOT NULL,
	[certificate_file_id] [bigint] NULL,
	[created_by] [bigint] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_certificates_exam_result_id] UNIQUE NONCLUSTERED 
(
	[exam_result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_certificates_ma_chung_chi] UNIQUE NONCLUSTERED 
(
	[ma_chung_chi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_bai_thi]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_bai_thi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[bai_thi_id] [bigint] NOT NULL,
	[cau_hoi_id] [bigint] NOT NULL,
	[dap_an_chon_id] [bigint] NULL,
	[la_dung] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_ctbt] UNIQUE NONCLUSTERED 
(
	[bai_thi_id] ASC,
	[cau_hoi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_phieu_thu]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_phieu_thu](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[phieu_thu_id] [bigint] NOT NULL,
	[loai_khoan_thu_id] [bigint] NOT NULL,
	[so_tien] [decimal](18, 2) NOT NULL,
	[ghi_chu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chu_de_cau_hoi]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chu_de_cau_hoi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_chu_de] [varchar](30) NOT NULL,
	[ten_chu_de] [nvarchar](150) NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_chu_de_cau_hoi_ma] UNIQUE NONCLUSTERED 
(
	[ma_chu_de] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dang_ky_du_thi]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dang_ky_du_thi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[hoc_vien_id] [bigint] NOT NULL,
	[ca_thi_id] [bigint] NOT NULL,
	[ngay_dang_ky] [datetime2](7) NOT NULL,
	[trang_thai] [varchar](30) NOT NULL,
	[nguoi_duyet_id] [bigint] NULL,
	[ngay_duyet] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_dang_ky_du_thi] UNIQUE NONCLUSTERED 
(
	[hoc_vien_id] ASC,
	[ca_thi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dang_ky_khoa_hoc]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dang_ky_khoa_hoc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[hoc_vien_id] [bigint] NOT NULL,
	[khoa_hoc_id] [bigint] NOT NULL,
	[ngay_dang_ky] [datetime2](7) NOT NULL,
	[trang_thai] [varchar](30) NOT NULL,
	[nguoi_duyet_id] [bigint] NULL,
	[ngay_duyet] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_dang_ky_khoa_hoc] UNIQUE NONCLUSTERED 
(
	[hoc_vien_id] ASC,
	[khoa_hoc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dap_an]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dap_an](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cau_hoi_id] [bigint] NOT NULL,
	[noi_dung] [nvarchar](1000) NOT NULL,
	[la_dap_an_dung] [bit] NOT NULL,
	[thu_tu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_dap_an_thu_tu] UNIQUE NONCLUSTERED 
(
	[cau_hoi_id] ASC,
	[thu_tu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[de_thi]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[de_thi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_de_thi] [varchar](30) NOT NULL,
	[ten_de_thi] [nvarchar](150) NOT NULL,
	[ky_thi_id] [bigint] NOT NULL,
	[tong_so_cau] [int] NOT NULL,
	[thoi_gian_lam_bai] [int] NOT NULL,
	[trang_thai] [varchar](30) NOT NULL,
	[nguoi_tao_id] [bigint] NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
	[loai_de_thi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_de_thi_ma] UNIQUE NONCLUSTERED 
(
	[ma_de_thi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[de_thi_cau_hoi]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[de_thi_cau_hoi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[de_thi_id] [bigint] NOT NULL,
	[cau_hoi_id] [bigint] NOT NULL,
	[thu_tu_cau] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_de_thi_cau_hoi] UNIQUE NONCLUSTERED 
(
	[de_thi_id] ASC,
	[cau_hoi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_de_thi_thu_tu] UNIQUE NONCLUSTERED 
(
	[de_thi_id] ASC,
	[thu_tu_cau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diem_danh]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diem_danh](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[buoi_hoc_id] [bigint] NOT NULL,
	[hoc_vien_id] [bigint] NOT NULL,
	[trang_thai] [varchar](30) NOT NULL,
	[ghi_chu] [nvarchar](255) NULL,
	[giao_vien_id] [bigint] NULL,
	[thoi_gian_diem_danh] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_diem_danh] UNIQUE NONCLUSTERED 
(
	[buoi_hoc_id] ASC,
	[hoc_vien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_results]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_results](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[bai_thi_id] [bigint] NOT NULL,
	[hoc_vien_id] [bigint] NOT NULL,
	[tong_so_cau] [int] NOT NULL,
	[so_cau_dung] [int] NOT NULL,
	[diem] [decimal](5, 2) NOT NULL,
	[ket_qua] [varchar](20) NOT NULL,
	[xac_nhan_boi] [bigint] NULL,
	[xac_nhan_luc] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_exam_results_bai_thi_id] UNIQUE NONCLUSTERED 
(
	[bai_thi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[file_usages]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[file_usages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[file_id] [bigint] NOT NULL,
	[entity_name] [varchar](50) NOT NULL,
	[entity_id] [bigint] NOT NULL,
	[field_name] [varchar](50) NOT NULL,
	[is_primary] [bit] NOT NULL,
	[sort_order] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_file_usages] UNIQUE NONCLUSTERED 
(
	[file_id] ASC,
	[entity_name] ASC,
	[entity_id] ASC,
	[field_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[files]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[files](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[storage_provider] [varchar](30) NOT NULL,
	[bucket_name] [varchar](100) NULL,
	[object_key] [varchar](500) NOT NULL,
	[public_url] [varchar](1000) NOT NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[mime_type] [varchar](100) NOT NULL,
	[size_bytes] [bigint] NOT NULL,
	[checksum_sha256] [varchar](128) NULL,
	[width] [int] NULL,
	[height] [int] NULL,
	[duration_seconds] [int] NULL,
	[trang_thai] [varchar](30) NOT NULL,
	[created_by] [bigint] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[goi_quyen]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goi_quyen](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_goi] [varchar](50) NOT NULL,
	[ten_goi] [nvarchar](150) NOT NULL,
	[mo_ta] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_goi_quyen_ma_goi] UNIQUE NONCLUSTERED 
(
	[ma_goi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giay_to_dinh_kem]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giay_to_dinh_kem](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ho_so_id] [bigint] NOT NULL,
	[ten_giay_to] [nvarchar](150) NOT NULL,
	[duong_dan_file] [varchar](255) NOT NULL,
	[loai_file] [varchar](20) NULL,
	[ngay_tai_len] [datetime2](7) NOT NULL,
	[trang_thai] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ho_so_dang_ky]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ho_so_dang_ky](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[hoc_vien_id] [bigint] NOT NULL,
	[ma_ho_so] [varchar](30) NOT NULL,
	[ngay_nop] [datetime2](7) NULL,
	[trang_thai] [varchar](30) NOT NULL,
	[ghi_chu] [nvarchar](500) NULL,
	[nguoi_duyet_id] [bigint] NULL,
	[ngay_duyet] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_ho_so_ma_ho_so] UNIQUE NONCLUSTERED 
(
	[ma_ho_so] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoc_vien]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoc_vien](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nguoi_dung_id] [bigint] NOT NULL,
	[ho_ten] [nvarchar](150) NOT NULL,
	[ngay_sinh] [date] NULL,
	[gioi_tinh] [nvarchar](10) NULL,
	[cccd] [varchar](20) NULL,
	[dia_chi] [nvarchar](255) NULL,
	[anh_chan_dung] [varchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_hoc_vien_cccd] UNIQUE NONCLUSTERED 
(
	[cccd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_hoc_vien_nguoi_dung] UNIQUE NONCLUSTERED 
(
	[nguoi_dung_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ky_thi]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ky_thi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_ky_thi] [varchar](30) NOT NULL,
	[ten_ky_thi] [nvarchar](150) NOT NULL,
	[ngay_thi] [date] NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
	[trang_thai] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_ky_thi_ma] UNIQUE NONCLUSTERED 
(
	[ma_ky_thi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khoa_hoc]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khoa_hoc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_khoa_hoc] [varchar](30) NOT NULL,
	[ten_khoa_hoc] [nvarchar](150) NOT NULL,
	[mo_ta] [nvarchar](500) NULL,
	[hoc_phi] [decimal](18, 2) NOT NULL,
	[thoi_luong] [int] NULL,
	[trang_thai] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_khoa_hoc_ma] UNIQUE NONCLUSTERED 
(
	[ma_khoa_hoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai_khoan_thu]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai_khoan_thu](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_loai] [varchar](30) NOT NULL,
	[ten_loai] [nvarchar](150) NOT NULL,
	[so_tien_mac_dinh] [decimal](18, 2) NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
	[trang_thai] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_loai_khoan_thu_ma] UNIQUE NONCLUSTERED 
(
	[ma_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai_nguoi_dung]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai_nguoi_dung](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_loai] [varchar](30) NOT NULL,
	[ten_loai] [nvarchar](100) NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_loai_nguoi_dung_ma_loai] UNIQUE NONCLUSTERED 
(
	[ma_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai_vi_pham]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai_vi_pham](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_loai] [varchar](30) NOT NULL,
	[ten_loai] [nvarchar](150) NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
	[muc_xu_ly_mac_dinh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_loai_vi_pham_ma] UNIQUE NONCLUSTERED 
(
	[ma_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lop_hoc]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lop_hoc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[khoa_hoc_id] [bigint] NOT NULL,
	[ma_lop] [varchar](30) NOT NULL,
	[ten_lop] [nvarchar](150) NOT NULL,
	[giao_vien_id] [bigint] NULL,
	[ngay_bat_dau] [date] NULL,
	[ngay_ket_thuc] [date] NULL,
	[si_so_toi_da] [int] NOT NULL,
	[trang_thai] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_lop_hoc_ma] UNIQUE NONCLUSTERED 
(
	[ma_lop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lop_hoc_hoc_vien]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lop_hoc_hoc_vien](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[lop_hoc_id] [bigint] NOT NULL,
	[hoc_vien_id] [bigint] NOT NULL,
	[ngay_vao_lop] [date] NULL,
	[trang_thai] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_lop_hoc_hoc_vien] UNIQUE NONCLUSTERED 
(
	[lop_hoc_id] ASC,
	[hoc_vien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_dang_nhap] [varchar](50) NOT NULL,
	[mat_khau_hash] [varchar](255) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[so_dien_thoai] [varchar](20) NULL,
	[trang_thai] [varchar](30) NOT NULL,
	[lan_dang_nhap_cuoi] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_nguoi_dung_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_nguoi_dung_ten_dang_nhap] UNIQUE NONCLUSTERED 
(
	[ten_dang_nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung_loai]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung_loai](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nguoi_dung_id] [bigint] NOT NULL,
	[loai_nguoi_dung_id] [bigint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_nguoi_dung_loai] UNIQUE NONCLUSTERED 
(
	[nguoi_dung_id] ASC,
	[loai_nguoi_dung_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung_vai_tro]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung_vai_tro](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nguoi_dung_id] [bigint] NOT NULL,
	[vai_tro_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_ndvt] UNIQUE NONCLUSTERED 
(
	[nguoi_dung_id] ASC,
	[vai_tro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhat_ky_he_thong]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhat_ky_he_thong](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nguoi_dung_id] [bigint] NULL,
	[hanh_dong] [nvarchar](100) NOT NULL,
	[bang_tac_dong] [varchar](100) NULL,
	[khoa_chinh_du_lieu] [bigint] NULL,
	[noi_dung] [nvarchar](max) NULL,
	[ip_address] [varchar](45) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_categories]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[post_id] [bigint] NOT NULL,
	[category_id] [bigint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_post_categories] UNIQUE NONCLUSTERED 
(
	[post_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_bai_viet] [varchar](50) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[summary] [nvarchar](1000) NULL,
	[content] [nvarchar](max) NOT NULL,
	[post_type] [varchar](30) NOT NULL,
	[thumbnail_file_id] [bigint] NULL,
	[meta_title] [nvarchar](255) NULL,
	[meta_description] [nvarchar](500) NULL,
	[canonical_url] [varchar](500) NULL,
	[published_at] [datetime2](7) NULL,
	[trang_thai] [varchar](30) NOT NULL,
	[author_id] [bigint] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_posts_ma_bai_viet] UNIQUE NONCLUSTERED 
(
	[ma_bai_viet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_posts_slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phien_on_tap]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phien_on_tap](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[hoc_vien_id] [bigint] NOT NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
	[thoi_gian_bat_dau] [datetime2](7) NULL,
	[thoi_gian_nop] [datetime2](7) NULL,
	[tong_so_cau] [int] NOT NULL,
	[so_cau_dung] [int] NOT NULL,
	[diem] [decimal](5, 2) NOT NULL,
	[trang_thai] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phien_on_tap_cau_hoi]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phien_on_tap_cau_hoi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[phien_on_tap_id] [bigint] NOT NULL,
	[cau_hoi_id] [bigint] NOT NULL,
	[dap_an_chon_id] [bigint] NULL,
	[la_dung] [bit] NULL,
	[thu_tu_cau] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_phien_on_tap_cau_hoi] UNIQUE NONCLUSTERED 
(
	[phien_on_tap_id] ASC,
	[cau_hoi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_phien_on_tap_thu_tu] UNIQUE NONCLUSTERED 
(
	[phien_on_tap_id] ASC,
	[thu_tu_cau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieu_thu]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieu_thu](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_phieu_thu] [varchar](30) NOT NULL,
	[hoc_vien_id] [bigint] NOT NULL,
	[ngay_thu] [datetime2](7) NOT NULL,
	[tong_tien] [decimal](18, 2) NOT NULL,
	[trang_thai] [varchar](30) NOT NULL,
	[nguoi_lap_id] [bigint] NULL,
	[nguoi_xac_nhan_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_phieu_thu_ma] UNIQUE NONCLUSTERED 
(
	[ma_phieu_thu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quyen_han]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quyen_han](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_quyen] [varchar](50) NOT NULL,
	[ten_quyen] [nvarchar](100) NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_quyen_han_ma_quyen] UNIQUE NONCLUSTERED 
(
	[ma_quyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quyen_su_dung]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quyen_su_dung](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nguoi_dung_id] [bigint] NOT NULL,
	[goi_quyen_id] [bigint] NOT NULL,
	[ngay_hieu_luc] [datetime2](7) NOT NULL,
	[ngay_het_han] [datetime2](7) NULL,
	[nguon_cap] [varchar](30) NOT NULL,
	[trang_thai] [varchar](30) NOT NULL,
	[ghi_chu] [nvarchar](500) NULL,
	[created_by] [bigint] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vai_tro]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vai_tro](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_vai_tro] [varchar](30) NOT NULL,
	[ten_vai_tro] [nvarchar](100) NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_vai_tro_ma_vai_tro] UNIQUE NONCLUSTERED 
(
	[ma_vai_tro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vai_tro_quyen_han]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vai_tro_quyen_han](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[vai_tro_id] [bigint] NOT NULL,
	[quyen_han_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_vtqh] UNIQUE NONCLUSTERED 
(
	[vai_tro_id] ASC,
	[quyen_han_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vi_pham_quy_che]    Script Date: 06/05/2026 1:19:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vi_pham_quy_che](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[hoc_vien_id] [bigint] NOT NULL,
	[bai_thi_id] [bigint] NULL,
	[loai_vi_pham_id] [bigint] NOT NULL,
	[nguoi_ghi_nhan_id] [bigint] NULL,
	[thoi_gian_vi_pham] [datetime2](7) NOT NULL,
	[mo_ta] [nvarchar](500) NULL,
	[hinh_thuc_xu_ly] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [ix_bai_thi_de_thi_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_bai_thi_de_thi_id] ON [dbo].[bai_thi]
(
	[de_thi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_bai_thi_hoc_vien_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_bai_thi_hoc_vien_id] ON [dbo].[bai_thi]
(
	[hoc_vien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_buoi_hoc_lop_hoc_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_buoi_hoc_lop_hoc_id] ON [dbo].[buoi_hoc]
(
	[lop_hoc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_ca_thi_ky_thi_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_ca_thi_ky_thi_id] ON [dbo].[ca_thi]
(
	[ky_thi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_categories_is_active]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_categories_is_active] ON [dbo].[categories]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_categories_parent_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_categories_parent_id] ON [dbo].[categories]
(
	[parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cau_hoi_chu_de_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_cau_hoi_chu_de_id] ON [dbo].[cau_hoi]
(
	[chu_de_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_certificates_hoc_vien_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_certificates_hoc_vien_id] ON [dbo].[certificates]
(
	[hoc_vien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_certificates_ngay_cap]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_certificates_ngay_cap] ON [dbo].[certificates]
(
	[ngay_cap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_certificates_trang_thai]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_certificates_trang_thai] ON [dbo].[certificates]
(
	[trang_thai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_dap_an_cau_hoi_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_dap_an_cau_hoi_id] ON [dbo].[dap_an]
(
	[cau_hoi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_diem_danh_buoi_hoc_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_diem_danh_buoi_hoc_id] ON [dbo].[diem_danh]
(
	[buoi_hoc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_exam_results_hoc_vien_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_exam_results_hoc_vien_id] ON [dbo].[exam_results]
(
	[hoc_vien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_exam_results_ket_qua]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_exam_results_ket_qua] ON [dbo].[exam_results]
(
	[ket_qua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_exam_results_xac_nhan_luc]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_exam_results_xac_nhan_luc] ON [dbo].[exam_results]
(
	[xac_nhan_luc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_file_usages_entity]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_file_usages_entity] ON [dbo].[file_usages]
(
	[entity_name] ASC,
	[entity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_file_usages_file_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_file_usages_file_id] ON [dbo].[file_usages]
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_files_created_at]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_files_created_at] ON [dbo].[files]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_files_created_by]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_files_created_by] ON [dbo].[files]
(
	[created_by] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_files_storage_provider]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_files_storage_provider] ON [dbo].[files]
(
	[storage_provider] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_ho_so_dang_ky_hoc_vien_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_ho_so_dang_ky_hoc_vien_id] ON [dbo].[ho_so_dang_ky]
(
	[hoc_vien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_hoc_vien_nguoi_dung_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_hoc_vien_nguoi_dung_id] ON [dbo].[hoc_vien]
(
	[nguoi_dung_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_ky_thi_ngay_thi]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_ky_thi_ngay_thi] ON [dbo].[ky_thi]
(
	[ngay_thi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_lop_hoc_khoa_hoc_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_lop_hoc_khoa_hoc_id] ON [dbo].[lop_hoc]
(
	[khoa_hoc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_nguoi_dung_loai_loai_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_nguoi_dung_loai_loai_id] ON [dbo].[nguoi_dung_loai]
(
	[loai_nguoi_dung_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_nguoi_dung_loai_nguoi_dung_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_nguoi_dung_loai_nguoi_dung_id] ON [dbo].[nguoi_dung_loai]
(
	[nguoi_dung_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_post_categories_category_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_post_categories_category_id] ON [dbo].[post_categories]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_post_categories_post_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_post_categories_post_id] ON [dbo].[post_categories]
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_posts_author_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_posts_author_id] ON [dbo].[posts]
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_posts_post_type]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_posts_post_type] ON [dbo].[posts]
(
	[post_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_posts_published_at]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_posts_published_at] ON [dbo].[posts]
(
	[published_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_posts_trang_thai]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_posts_trang_thai] ON [dbo].[posts]
(
	[trang_thai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_phien_on_tap_hoc_vien_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_phien_on_tap_hoc_vien_id] ON [dbo].[phien_on_tap]
(
	[hoc_vien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_phieu_thu_hoc_vien_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_phieu_thu_hoc_vien_id] ON [dbo].[phieu_thu]
(
	[hoc_vien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_qsd_goi_quyen_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_qsd_goi_quyen_id] ON [dbo].[quyen_su_dung]
(
	[goi_quyen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_qsd_ngay_het_han]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_qsd_ngay_het_han] ON [dbo].[quyen_su_dung]
(
	[ngay_het_han] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_qsd_nguoi_dung_trang_thai]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_qsd_nguoi_dung_trang_thai] ON [dbo].[quyen_su_dung]
(
	[nguoi_dung_id] ASC,
	[trang_thai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_vi_pham_hoc_vien_id]    Script Date: 06/05/2026 1:19:51 SA ******/
CREATE NONCLUSTERED INDEX [ix_vi_pham_hoc_vien_id] ON [dbo].[vi_pham_quy_che]
(
	[hoc_vien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bai_thi] ADD  DEFAULT ((0)) FOR [tong_so_cau]
GO
ALTER TABLE [dbo].[bai_thi] ADD  DEFAULT ((0)) FOR [so_cau_dung]
GO
ALTER TABLE [dbo].[bai_thi] ADD  DEFAULT ((0)) FOR [diem]
GO
ALTER TABLE [dbo].[bai_thi] ADD  DEFAULT ('chua_lam') FOR [trang_thai]
GO
ALTER TABLE [dbo].[ca_thi] ADD  DEFAULT ((0)) FOR [so_luong_toi_da]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [df_categories_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [df_categories_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [df_categories_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[cau_hoi] ADD  DEFAULT ('trac_nghiem') FOR [loai_cau_hoi]
GO
ALTER TABLE [dbo].[cau_hoi] ADD  DEFAULT ((0)) FOR [la_cau_diem_liet]
GO
ALTER TABLE [dbo].[cau_hoi] ADD  DEFAULT ('hoat_dong') FOR [trang_thai]
GO
ALTER TABLE [dbo].[certificates] ADD  CONSTRAINT [df_certificates_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[certificates] ADD  CONSTRAINT [df_certificates_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[dang_ky_du_thi] ADD  DEFAULT (getdate()) FOR [ngay_dang_ky]
GO
ALTER TABLE [dbo].[dang_ky_du_thi] ADD  DEFAULT ('cho_duyet') FOR [trang_thai]
GO
ALTER TABLE [dbo].[dang_ky_khoa_hoc] ADD  DEFAULT (getdate()) FOR [ngay_dang_ky]
GO
ALTER TABLE [dbo].[dang_ky_khoa_hoc] ADD  DEFAULT ('cho_duyet') FOR [trang_thai]
GO
ALTER TABLE [dbo].[dap_an] ADD  DEFAULT ((0)) FOR [la_dap_an_dung]
GO
ALTER TABLE [dbo].[de_thi] ADD  DEFAULT ((0)) FOR [tong_so_cau]
GO
ALTER TABLE [dbo].[de_thi] ADD  DEFAULT ('nhap') FOR [trang_thai]
GO
ALTER TABLE [dbo].[de_thi] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[diem_danh] ADD  DEFAULT (getdate()) FOR [thoi_gian_diem_danh]
GO
ALTER TABLE [dbo].[exam_results] ADD  CONSTRAINT [df_exam_results_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[exam_results] ADD  CONSTRAINT [df_exam_results_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[file_usages] ADD  CONSTRAINT [df_file_usages_is_primary]  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[file_usages] ADD  CONSTRAINT [df_file_usages_sort_order]  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[file_usages] ADD  CONSTRAINT [df_file_usages_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[files] ADD  CONSTRAINT [df_files_trang_thai]  DEFAULT ('active') FOR [trang_thai]
GO
ALTER TABLE [dbo].[files] ADD  CONSTRAINT [df_files_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[files] ADD  CONSTRAINT [df_files_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[goi_quyen] ADD  CONSTRAINT [df_goi_quyen_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[goi_quyen] ADD  CONSTRAINT [df_goi_quyen_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[goi_quyen] ADD  CONSTRAINT [df_goi_quyen_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[giay_to_dinh_kem] ADD  DEFAULT (getdate()) FOR [ngay_tai_len]
GO
ALTER TABLE [dbo].[giay_to_dinh_kem] ADD  DEFAULT ('hop_le') FOR [trang_thai]
GO
ALTER TABLE [dbo].[ho_so_dang_ky] ADD  DEFAULT ('cho_nop') FOR [trang_thai]
GO
ALTER TABLE [dbo].[hoc_vien] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ky_thi] ADD  DEFAULT ('sap_dien_ra') FOR [trang_thai]
GO
ALTER TABLE [dbo].[khoa_hoc] ADD  DEFAULT ((0)) FOR [hoc_phi]
GO
ALTER TABLE [dbo].[khoa_hoc] ADD  DEFAULT ('dang_mo') FOR [trang_thai]
GO
ALTER TABLE [dbo].[loai_khoan_thu] ADD  DEFAULT ((0)) FOR [so_tien_mac_dinh]
GO
ALTER TABLE [dbo].[loai_khoan_thu] ADD  DEFAULT ('hoat_dong') FOR [trang_thai]
GO
ALTER TABLE [dbo].[loai_nguoi_dung] ADD  CONSTRAINT [df_loai_nguoi_dung_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[loai_nguoi_dung] ADD  CONSTRAINT [df_loai_nguoi_dung_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[lop_hoc] ADD  DEFAULT ((0)) FOR [si_so_toi_da]
GO
ALTER TABLE [dbo].[lop_hoc] ADD  DEFAULT ('dang_mo') FOR [trang_thai]
GO
ALTER TABLE [dbo].[lop_hoc_hoc_vien] ADD  DEFAULT ('dang_hoc') FOR [trang_thai]
GO
ALTER TABLE [dbo].[nguoi_dung] ADD  DEFAULT ('hoat_dong') FOR [trang_thai]
GO
ALTER TABLE [dbo].[nguoi_dung] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[nguoi_dung] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[nguoi_dung_loai] ADD  CONSTRAINT [df_nguoi_dung_loai_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[nhat_ky_he_thong] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[post_categories] ADD  CONSTRAINT [df_post_categories_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[posts] ADD  CONSTRAINT [df_posts_trang_thai]  DEFAULT ('draft') FOR [trang_thai]
GO
ALTER TABLE [dbo].[posts] ADD  CONSTRAINT [df_posts_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[posts] ADD  CONSTRAINT [df_posts_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[phien_on_tap] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[phien_on_tap] ADD  DEFAULT ((0)) FOR [tong_so_cau]
GO
ALTER TABLE [dbo].[phien_on_tap] ADD  DEFAULT ((0)) FOR [so_cau_dung]
GO
ALTER TABLE [dbo].[phien_on_tap] ADD  DEFAULT ((0)) FOR [diem]
GO
ALTER TABLE [dbo].[phien_on_tap] ADD  DEFAULT ('moi_tao') FOR [trang_thai]
GO
ALTER TABLE [dbo].[phieu_thu] ADD  DEFAULT (getdate()) FOR [ngay_thu]
GO
ALTER TABLE [dbo].[phieu_thu] ADD  DEFAULT ((0)) FOR [tong_tien]
GO
ALTER TABLE [dbo].[phieu_thu] ADD  DEFAULT ('cho_xac_nhan') FOR [trang_thai]
GO
ALTER TABLE [dbo].[quyen_su_dung] ADD  CONSTRAINT [df_quyen_su_dung_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[quyen_su_dung] ADD  CONSTRAINT [df_quyen_su_dung_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[vi_pham_quy_che] ADD  DEFAULT (getdate()) FOR [thoi_gian_vi_pham]
GO
ALTER TABLE [dbo].[bai_thi]  WITH CHECK ADD  CONSTRAINT [fk_bai_thi_ca_thi] FOREIGN KEY([ca_thi_id])
REFERENCES [dbo].[ca_thi] ([id])
GO
ALTER TABLE [dbo].[bai_thi] CHECK CONSTRAINT [fk_bai_thi_ca_thi]
GO
ALTER TABLE [dbo].[bai_thi]  WITH CHECK ADD  CONSTRAINT [fk_bai_thi_de_thi] FOREIGN KEY([de_thi_id])
REFERENCES [dbo].[de_thi] ([id])
GO
ALTER TABLE [dbo].[bai_thi] CHECK CONSTRAINT [fk_bai_thi_de_thi]
GO
ALTER TABLE [dbo].[bai_thi]  WITH CHECK ADD  CONSTRAINT [fk_bai_thi_hoc_vien] FOREIGN KEY([hoc_vien_id])
REFERENCES [dbo].[hoc_vien] ([id])
GO
ALTER TABLE [dbo].[bai_thi] CHECK CONSTRAINT [fk_bai_thi_hoc_vien]
GO
ALTER TABLE [dbo].[buoi_hoc]  WITH CHECK ADD  CONSTRAINT [fk_buoi_hoc_lop_hoc] FOREIGN KEY([lop_hoc_id])
REFERENCES [dbo].[lop_hoc] ([id])
GO
ALTER TABLE [dbo].[buoi_hoc] CHECK CONSTRAINT [fk_buoi_hoc_lop_hoc]
GO
ALTER TABLE [dbo].[ca_thi]  WITH CHECK ADD  CONSTRAINT [fk_ca_thi_ky_thi] FOREIGN KEY([ky_thi_id])
REFERENCES [dbo].[ky_thi] ([id])
GO
ALTER TABLE [dbo].[ca_thi] CHECK CONSTRAINT [fk_ca_thi_ky_thi]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [fk_categories_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [fk_categories_created_by]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [fk_categories_parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [fk_categories_parent]
GO
ALTER TABLE [dbo].[cau_hoi]  WITH CHECK ADD  CONSTRAINT [fk_cau_hoi_chu_de] FOREIGN KEY([chu_de_id])
REFERENCES [dbo].[chu_de_cau_hoi] ([id])
GO
ALTER TABLE [dbo].[cau_hoi] CHECK CONSTRAINT [fk_cau_hoi_chu_de]
GO
ALTER TABLE [dbo].[certificates]  WITH CHECK ADD  CONSTRAINT [fk_certificates_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[certificates] CHECK CONSTRAINT [fk_certificates_created_by]
GO
ALTER TABLE [dbo].[certificates]  WITH CHECK ADD  CONSTRAINT [fk_certificates_exam_result] FOREIGN KEY([exam_result_id])
REFERENCES [dbo].[exam_results] ([id])
GO
ALTER TABLE [dbo].[certificates] CHECK CONSTRAINT [fk_certificates_exam_result]
GO
ALTER TABLE [dbo].[certificates]  WITH CHECK ADD  CONSTRAINT [fk_certificates_file] FOREIGN KEY([certificate_file_id])
REFERENCES [dbo].[files] ([id])
GO
ALTER TABLE [dbo].[certificates] CHECK CONSTRAINT [fk_certificates_file]
GO
ALTER TABLE [dbo].[certificates]  WITH CHECK ADD  CONSTRAINT [fk_certificates_hoc_vien] FOREIGN KEY([hoc_vien_id])
REFERENCES [dbo].[hoc_vien] ([id])
GO
ALTER TABLE [dbo].[certificates] CHECK CONSTRAINT [fk_certificates_hoc_vien]
GO
ALTER TABLE [dbo].[chi_tiet_bai_thi]  WITH CHECK ADD  CONSTRAINT [fk_ctbt_bai_thi] FOREIGN KEY([bai_thi_id])
REFERENCES [dbo].[bai_thi] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_bai_thi] CHECK CONSTRAINT [fk_ctbt_bai_thi]
GO
ALTER TABLE [dbo].[chi_tiet_bai_thi]  WITH CHECK ADD  CONSTRAINT [fk_ctbt_cau_hoi] FOREIGN KEY([cau_hoi_id])
REFERENCES [dbo].[cau_hoi] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_bai_thi] CHECK CONSTRAINT [fk_ctbt_cau_hoi]
GO
ALTER TABLE [dbo].[chi_tiet_bai_thi]  WITH CHECK ADD  CONSTRAINT [fk_ctbt_dap_an] FOREIGN KEY([dap_an_chon_id])
REFERENCES [dbo].[dap_an] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_bai_thi] CHECK CONSTRAINT [fk_ctbt_dap_an]
GO
ALTER TABLE [dbo].[chi_tiet_phieu_thu]  WITH CHECK ADD  CONSTRAINT [fk_ctpt_loai_khoan_thu] FOREIGN KEY([loai_khoan_thu_id])
REFERENCES [dbo].[loai_khoan_thu] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_phieu_thu] CHECK CONSTRAINT [fk_ctpt_loai_khoan_thu]
GO
ALTER TABLE [dbo].[chi_tiet_phieu_thu]  WITH CHECK ADD  CONSTRAINT [fk_ctpt_phieu_thu] FOREIGN KEY([phieu_thu_id])
REFERENCES [dbo].[phieu_thu] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_phieu_thu] CHECK CONSTRAINT [fk_ctpt_phieu_thu]
GO
ALTER TABLE [dbo].[dang_ky_du_thi]  WITH CHECK ADD  CONSTRAINT [fk_dkdt_ca_thi] FOREIGN KEY([ca_thi_id])
REFERENCES [dbo].[ca_thi] ([id])
GO
ALTER TABLE [dbo].[dang_ky_du_thi] CHECK CONSTRAINT [fk_dkdt_ca_thi]
GO
ALTER TABLE [dbo].[dang_ky_du_thi]  WITH CHECK ADD  CONSTRAINT [fk_dkdt_hoc_vien] FOREIGN KEY([hoc_vien_id])
REFERENCES [dbo].[hoc_vien] ([id])
GO
ALTER TABLE [dbo].[dang_ky_du_thi] CHECK CONSTRAINT [fk_dkdt_hoc_vien]
GO
ALTER TABLE [dbo].[dang_ky_du_thi]  WITH CHECK ADD  CONSTRAINT [fk_dkdt_nguoi_duyet] FOREIGN KEY([nguoi_duyet_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[dang_ky_du_thi] CHECK CONSTRAINT [fk_dkdt_nguoi_duyet]
GO
ALTER TABLE [dbo].[dang_ky_khoa_hoc]  WITH CHECK ADD  CONSTRAINT [fk_dk_khoa_hoc_hoc_vien] FOREIGN KEY([hoc_vien_id])
REFERENCES [dbo].[hoc_vien] ([id])
GO
ALTER TABLE [dbo].[dang_ky_khoa_hoc] CHECK CONSTRAINT [fk_dk_khoa_hoc_hoc_vien]
GO
ALTER TABLE [dbo].[dang_ky_khoa_hoc]  WITH CHECK ADD  CONSTRAINT [fk_dk_khoa_hoc_khoa_hoc] FOREIGN KEY([khoa_hoc_id])
REFERENCES [dbo].[khoa_hoc] ([id])
GO
ALTER TABLE [dbo].[dang_ky_khoa_hoc] CHECK CONSTRAINT [fk_dk_khoa_hoc_khoa_hoc]
GO
ALTER TABLE [dbo].[dang_ky_khoa_hoc]  WITH CHECK ADD  CONSTRAINT [fk_dk_khoa_hoc_nguoi_duyet] FOREIGN KEY([nguoi_duyet_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[dang_ky_khoa_hoc] CHECK CONSTRAINT [fk_dk_khoa_hoc_nguoi_duyet]
GO
ALTER TABLE [dbo].[dap_an]  WITH CHECK ADD  CONSTRAINT [fk_dap_an_cau_hoi] FOREIGN KEY([cau_hoi_id])
REFERENCES [dbo].[cau_hoi] ([id])
GO
ALTER TABLE [dbo].[dap_an] CHECK CONSTRAINT [fk_dap_an_cau_hoi]
GO
ALTER TABLE [dbo].[de_thi]  WITH CHECK ADD  CONSTRAINT [fk_de_thi_ky_thi] FOREIGN KEY([ky_thi_id])
REFERENCES [dbo].[ky_thi] ([id])
GO
ALTER TABLE [dbo].[de_thi] CHECK CONSTRAINT [fk_de_thi_ky_thi]
GO
ALTER TABLE [dbo].[de_thi]  WITH CHECK ADD  CONSTRAINT [fk_de_thi_nguoi_tao] FOREIGN KEY([nguoi_tao_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[de_thi] CHECK CONSTRAINT [fk_de_thi_nguoi_tao]
GO
ALTER TABLE [dbo].[de_thi_cau_hoi]  WITH CHECK ADD  CONSTRAINT [fk_dtch_cau_hoi] FOREIGN KEY([cau_hoi_id])
REFERENCES [dbo].[cau_hoi] ([id])
GO
ALTER TABLE [dbo].[de_thi_cau_hoi] CHECK CONSTRAINT [fk_dtch_cau_hoi]
GO
ALTER TABLE [dbo].[de_thi_cau_hoi]  WITH CHECK ADD  CONSTRAINT [fk_dtch_de_thi] FOREIGN KEY([de_thi_id])
REFERENCES [dbo].[de_thi] ([id])
GO
ALTER TABLE [dbo].[de_thi_cau_hoi] CHECK CONSTRAINT [fk_dtch_de_thi]
GO
ALTER TABLE [dbo].[diem_danh]  WITH CHECK ADD  CONSTRAINT [fk_diem_danh_buoi_hoc] FOREIGN KEY([buoi_hoc_id])
REFERENCES [dbo].[buoi_hoc] ([id])
GO
ALTER TABLE [dbo].[diem_danh] CHECK CONSTRAINT [fk_diem_danh_buoi_hoc]
GO
ALTER TABLE [dbo].[diem_danh]  WITH CHECK ADD  CONSTRAINT [fk_diem_danh_giao_vien] FOREIGN KEY([giao_vien_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[diem_danh] CHECK CONSTRAINT [fk_diem_danh_giao_vien]
GO
ALTER TABLE [dbo].[diem_danh]  WITH CHECK ADD  CONSTRAINT [fk_diem_danh_hoc_vien] FOREIGN KEY([hoc_vien_id])
REFERENCES [dbo].[hoc_vien] ([id])
GO
ALTER TABLE [dbo].[diem_danh] CHECK CONSTRAINT [fk_diem_danh_hoc_vien]
GO
ALTER TABLE [dbo].[exam_results]  WITH CHECK ADD  CONSTRAINT [fk_exam_results_bai_thi] FOREIGN KEY([bai_thi_id])
REFERENCES [dbo].[bai_thi] ([id])
GO
ALTER TABLE [dbo].[exam_results] CHECK CONSTRAINT [fk_exam_results_bai_thi]
GO
ALTER TABLE [dbo].[exam_results]  WITH CHECK ADD  CONSTRAINT [fk_exam_results_hoc_vien] FOREIGN KEY([hoc_vien_id])
REFERENCES [dbo].[hoc_vien] ([id])
GO
ALTER TABLE [dbo].[exam_results] CHECK CONSTRAINT [fk_exam_results_hoc_vien]
GO
ALTER TABLE [dbo].[exam_results]  WITH CHECK ADD  CONSTRAINT [fk_exam_results_xac_nhan_boi] FOREIGN KEY([xac_nhan_boi])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[exam_results] CHECK CONSTRAINT [fk_exam_results_xac_nhan_boi]
GO
ALTER TABLE [dbo].[file_usages]  WITH CHECK ADD  CONSTRAINT [fk_fu_file] FOREIGN KEY([file_id])
REFERENCES [dbo].[files] ([id])
GO
ALTER TABLE [dbo].[file_usages] CHECK CONSTRAINT [fk_fu_file]
GO
ALTER TABLE [dbo].[files]  WITH CHECK ADD  CONSTRAINT [fk_files_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[files] CHECK CONSTRAINT [fk_files_created_by]
GO
ALTER TABLE [dbo].[giay_to_dinh_kem]  WITH CHECK ADD  CONSTRAINT [fk_giay_to_ho_so] FOREIGN KEY([ho_so_id])
REFERENCES [dbo].[ho_so_dang_ky] ([id])
GO
ALTER TABLE [dbo].[giay_to_dinh_kem] CHECK CONSTRAINT [fk_giay_to_ho_so]
GO
ALTER TABLE [dbo].[ho_so_dang_ky]  WITH CHECK ADD  CONSTRAINT [fk_ho_so_hoc_vien] FOREIGN KEY([hoc_vien_id])
REFERENCES [dbo].[hoc_vien] ([id])
GO
ALTER TABLE [dbo].[ho_so_dang_ky] CHECK CONSTRAINT [fk_ho_so_hoc_vien]
GO
ALTER TABLE [dbo].[ho_so_dang_ky]  WITH CHECK ADD  CONSTRAINT [fk_ho_so_nguoi_duyet] FOREIGN KEY([nguoi_duyet_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[ho_so_dang_ky] CHECK CONSTRAINT [fk_ho_so_nguoi_duyet]
GO
ALTER TABLE [dbo].[hoc_vien]  WITH CHECK ADD  CONSTRAINT [fk_hoc_vien_nguoi_dung] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[hoc_vien] CHECK CONSTRAINT [fk_hoc_vien_nguoi_dung]
GO
ALTER TABLE [dbo].[lop_hoc]  WITH CHECK ADD  CONSTRAINT [fk_lop_hoc_giao_vien] FOREIGN KEY([giao_vien_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[lop_hoc] CHECK CONSTRAINT [fk_lop_hoc_giao_vien]
GO
ALTER TABLE [dbo].[lop_hoc]  WITH CHECK ADD  CONSTRAINT [fk_lop_hoc_khoa_hoc] FOREIGN KEY([khoa_hoc_id])
REFERENCES [dbo].[khoa_hoc] ([id])
GO
ALTER TABLE [dbo].[lop_hoc] CHECK CONSTRAINT [fk_lop_hoc_khoa_hoc]
GO
ALTER TABLE [dbo].[lop_hoc_hoc_vien]  WITH CHECK ADD  CONSTRAINT [fk_lhhv_hoc_vien] FOREIGN KEY([hoc_vien_id])
REFERENCES [dbo].[hoc_vien] ([id])
GO
ALTER TABLE [dbo].[lop_hoc_hoc_vien] CHECK CONSTRAINT [fk_lhhv_hoc_vien]
GO
ALTER TABLE [dbo].[lop_hoc_hoc_vien]  WITH CHECK ADD  CONSTRAINT [fk_lhhv_lop_hoc] FOREIGN KEY([lop_hoc_id])
REFERENCES [dbo].[lop_hoc] ([id])
GO
ALTER TABLE [dbo].[lop_hoc_hoc_vien] CHECK CONSTRAINT [fk_lhhv_lop_hoc]
GO
ALTER TABLE [dbo].[nguoi_dung_loai]  WITH CHECK ADD  CONSTRAINT [fk_ndl_loai_nguoi_dung] FOREIGN KEY([loai_nguoi_dung_id])
REFERENCES [dbo].[loai_nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[nguoi_dung_loai] CHECK CONSTRAINT [fk_ndl_loai_nguoi_dung]
GO
ALTER TABLE [dbo].[nguoi_dung_loai]  WITH CHECK ADD  CONSTRAINT [fk_ndl_nguoi_dung] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[nguoi_dung_loai] CHECK CONSTRAINT [fk_ndl_nguoi_dung]
GO
ALTER TABLE [dbo].[nguoi_dung_vai_tro]  WITH CHECK ADD  CONSTRAINT [fk_ndvt_nguoi_dung] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[nguoi_dung_vai_tro] CHECK CONSTRAINT [fk_ndvt_nguoi_dung]
GO
ALTER TABLE [dbo].[nguoi_dung_vai_tro]  WITH CHECK ADD  CONSTRAINT [fk_ndvt_vai_tro] FOREIGN KEY([vai_tro_id])
REFERENCES [dbo].[vai_tro] ([id])
GO
ALTER TABLE [dbo].[nguoi_dung_vai_tro] CHECK CONSTRAINT [fk_ndvt_vai_tro]
GO
ALTER TABLE [dbo].[nhat_ky_he_thong]  WITH CHECK ADD  CONSTRAINT [fk_nhat_ky_nguoi_dung] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[nhat_ky_he_thong] CHECK CONSTRAINT [fk_nhat_ky_nguoi_dung]
GO
ALTER TABLE [dbo].[post_categories]  WITH CHECK ADD  CONSTRAINT [fk_post_categories_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[post_categories] CHECK CONSTRAINT [fk_post_categories_category]
GO
ALTER TABLE [dbo].[post_categories]  WITH CHECK ADD  CONSTRAINT [fk_post_categories_post] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([id])
GO
ALTER TABLE [dbo].[post_categories] CHECK CONSTRAINT [fk_post_categories_post]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [fk_posts_author] FOREIGN KEY([author_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [fk_posts_author]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [fk_posts_thumbnail_file] FOREIGN KEY([thumbnail_file_id])
REFERENCES [dbo].[files] ([id])
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [fk_posts_thumbnail_file]
GO
ALTER TABLE [dbo].[phien_on_tap]  WITH CHECK ADD  CONSTRAINT [fk_phien_on_tap_hoc_vien] FOREIGN KEY([hoc_vien_id])
REFERENCES [dbo].[hoc_vien] ([id])
GO
ALTER TABLE [dbo].[phien_on_tap] CHECK CONSTRAINT [fk_phien_on_tap_hoc_vien]
GO
ALTER TABLE [dbo].[phien_on_tap_cau_hoi]  WITH CHECK ADD  CONSTRAINT [fk_pot_ch_cau_hoi] FOREIGN KEY([cau_hoi_id])
REFERENCES [dbo].[cau_hoi] ([id])
GO
ALTER TABLE [dbo].[phien_on_tap_cau_hoi] CHECK CONSTRAINT [fk_pot_ch_cau_hoi]
GO
ALTER TABLE [dbo].[phien_on_tap_cau_hoi]  WITH CHECK ADD  CONSTRAINT [fk_pot_ch_dap_an] FOREIGN KEY([dap_an_chon_id])
REFERENCES [dbo].[dap_an] ([id])
GO
ALTER TABLE [dbo].[phien_on_tap_cau_hoi] CHECK CONSTRAINT [fk_pot_ch_dap_an]
GO
ALTER TABLE [dbo].[phien_on_tap_cau_hoi]  WITH CHECK ADD  CONSTRAINT [fk_pot_ch_phien_on_tap] FOREIGN KEY([phien_on_tap_id])
REFERENCES [dbo].[phien_on_tap] ([id])
GO
ALTER TABLE [dbo].[phien_on_tap_cau_hoi] CHECK CONSTRAINT [fk_pot_ch_phien_on_tap]
GO
ALTER TABLE [dbo].[phieu_thu]  WITH CHECK ADD  CONSTRAINT [fk_phieu_thu_hoc_vien] FOREIGN KEY([hoc_vien_id])
REFERENCES [dbo].[hoc_vien] ([id])
GO
ALTER TABLE [dbo].[phieu_thu] CHECK CONSTRAINT [fk_phieu_thu_hoc_vien]
GO
ALTER TABLE [dbo].[phieu_thu]  WITH CHECK ADD  CONSTRAINT [fk_phieu_thu_nguoi_lap] FOREIGN KEY([nguoi_lap_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[phieu_thu] CHECK CONSTRAINT [fk_phieu_thu_nguoi_lap]
GO
ALTER TABLE [dbo].[phieu_thu]  WITH CHECK ADD  CONSTRAINT [fk_phieu_thu_nguoi_xac_nhan] FOREIGN KEY([nguoi_xac_nhan_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[phieu_thu] CHECK CONSTRAINT [fk_phieu_thu_nguoi_xac_nhan]
GO
ALTER TABLE [dbo].[quyen_su_dung]  WITH CHECK ADD  CONSTRAINT [fk_qsd_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[quyen_su_dung] CHECK CONSTRAINT [fk_qsd_created_by]
GO
ALTER TABLE [dbo].[quyen_su_dung]  WITH CHECK ADD  CONSTRAINT [fk_qsd_goi_quyen] FOREIGN KEY([goi_quyen_id])
REFERENCES [dbo].[goi_quyen] ([id])
GO
ALTER TABLE [dbo].[quyen_su_dung] CHECK CONSTRAINT [fk_qsd_goi_quyen]
GO
ALTER TABLE [dbo].[quyen_su_dung]  WITH CHECK ADD  CONSTRAINT [fk_qsd_nguoi_dung] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[quyen_su_dung] CHECK CONSTRAINT [fk_qsd_nguoi_dung]
GO
ALTER TABLE [dbo].[vai_tro_quyen_han]  WITH CHECK ADD  CONSTRAINT [fk_vtqh_quyen_han] FOREIGN KEY([quyen_han_id])
REFERENCES [dbo].[quyen_han] ([id])
GO
ALTER TABLE [dbo].[vai_tro_quyen_han] CHECK CONSTRAINT [fk_vtqh_quyen_han]
GO
ALTER TABLE [dbo].[vai_tro_quyen_han]  WITH CHECK ADD  CONSTRAINT [fk_vtqh_vai_tro] FOREIGN KEY([vai_tro_id])
REFERENCES [dbo].[vai_tro] ([id])
GO
ALTER TABLE [dbo].[vai_tro_quyen_han] CHECK CONSTRAINT [fk_vtqh_vai_tro]
GO
ALTER TABLE [dbo].[vi_pham_quy_che]  WITH CHECK ADD  CONSTRAINT [fk_vpqc_bai_thi] FOREIGN KEY([bai_thi_id])
REFERENCES [dbo].[bai_thi] ([id])
GO
ALTER TABLE [dbo].[vi_pham_quy_che] CHECK CONSTRAINT [fk_vpqc_bai_thi]
GO
ALTER TABLE [dbo].[vi_pham_quy_che]  WITH CHECK ADD  CONSTRAINT [fk_vpqc_hoc_vien] FOREIGN KEY([hoc_vien_id])
REFERENCES [dbo].[hoc_vien] ([id])
GO
ALTER TABLE [dbo].[vi_pham_quy_che] CHECK CONSTRAINT [fk_vpqc_hoc_vien]
GO
ALTER TABLE [dbo].[vi_pham_quy_che]  WITH CHECK ADD  CONSTRAINT [fk_vpqc_loai_vi_pham] FOREIGN KEY([loai_vi_pham_id])
REFERENCES [dbo].[loai_vi_pham] ([id])
GO
ALTER TABLE [dbo].[vi_pham_quy_che] CHECK CONSTRAINT [fk_vpqc_loai_vi_pham]
GO
ALTER TABLE [dbo].[vi_pham_quy_che]  WITH CHECK ADD  CONSTRAINT [fk_vpqc_nguoi_ghi_nhan] FOREIGN KEY([nguoi_ghi_nhan_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[vi_pham_quy_che] CHECK CONSTRAINT [fk_vpqc_nguoi_ghi_nhan]
GO
ALTER TABLE [dbo].[bai_thi]  WITH CHECK ADD  CONSTRAINT [ck_bai_thi_diem] CHECK  (([diem]>=(0)))
GO
ALTER TABLE [dbo].[bai_thi] CHECK CONSTRAINT [ck_bai_thi_diem]
GO
ALTER TABLE [dbo].[bai_thi]  WITH CHECK ADD  CONSTRAINT [ck_bai_thi_so_cau_dung] CHECK  (([so_cau_dung]>=(0)))
GO
ALTER TABLE [dbo].[bai_thi] CHECK CONSTRAINT [ck_bai_thi_so_cau_dung]
GO
ALTER TABLE [dbo].[bai_thi]  WITH CHECK ADD  CONSTRAINT [ck_bai_thi_tong_so_cau] CHECK  (([tong_so_cau]>=(0)))
GO
ALTER TABLE [dbo].[bai_thi] CHECK CONSTRAINT [ck_bai_thi_tong_so_cau]
GO
ALTER TABLE [dbo].[buoi_hoc]  WITH CHECK ADD  CONSTRAINT [ck_buoi_hoc_gio] CHECK  (([gio_ket_thuc]>[gio_bat_dau]))
GO
ALTER TABLE [dbo].[buoi_hoc] CHECK CONSTRAINT [ck_buoi_hoc_gio]
GO
ALTER TABLE [dbo].[ca_thi]  WITH CHECK ADD  CONSTRAINT [ck_ca_thi_gio] CHECK  (([gio_ket_thuc]>[gio_bat_dau]))
GO
ALTER TABLE [dbo].[ca_thi] CHECK CONSTRAINT [ck_ca_thi_gio]
GO
ALTER TABLE [dbo].[ca_thi]  WITH CHECK ADD  CONSTRAINT [ck_ca_thi_so_luong] CHECK  (([so_luong_toi_da]>=(0)))
GO
ALTER TABLE [dbo].[ca_thi] CHECK CONSTRAINT [ck_ca_thi_so_luong]
GO
ALTER TABLE [dbo].[certificates]  WITH CHECK ADD  CONSTRAINT [ck_certificates_ngay] CHECK  (([ngay_het_han] IS NULL OR [ngay_het_han]>=[ngay_cap]))
GO
ALTER TABLE [dbo].[certificates] CHECK CONSTRAINT [ck_certificates_ngay]
GO
ALTER TABLE [dbo].[certificates]  WITH CHECK ADD  CONSTRAINT [ck_certificates_trang_thai] CHECK  (([trang_thai]='expired' OR [trang_thai]='revoked' OR [trang_thai]='valid'))
GO
ALTER TABLE [dbo].[certificates] CHECK CONSTRAINT [ck_certificates_trang_thai]
GO
ALTER TABLE [dbo].[chi_tiet_phieu_thu]  WITH CHECK ADD  CONSTRAINT [ck_ctpt_so_tien] CHECK  (([so_tien]>=(0)))
GO
ALTER TABLE [dbo].[chi_tiet_phieu_thu] CHECK CONSTRAINT [ck_ctpt_so_tien]
GO
ALTER TABLE [dbo].[de_thi]  WITH CHECK ADD  CONSTRAINT [ck_de_thi_tong_so_cau] CHECK  (([tong_so_cau]>=(0)))
GO
ALTER TABLE [dbo].[de_thi] CHECK CONSTRAINT [ck_de_thi_tong_so_cau]
GO
ALTER TABLE [dbo].[de_thi]  WITH CHECK ADD  CONSTRAINT [ck_de_thi_thoi_gian] CHECK  (([thoi_gian_lam_bai]>(0)))
GO
ALTER TABLE [dbo].[de_thi] CHECK CONSTRAINT [ck_de_thi_thoi_gian]
GO
ALTER TABLE [dbo].[exam_results]  WITH CHECK ADD  CONSTRAINT [ck_exam_results_diem] CHECK  (([diem]>=(0)))
GO
ALTER TABLE [dbo].[exam_results] CHECK CONSTRAINT [ck_exam_results_diem]
GO
ALTER TABLE [dbo].[exam_results]  WITH CHECK ADD  CONSTRAINT [ck_exam_results_ket_qua] CHECK  (([ket_qua]='khong_dat' OR [ket_qua]='dat'))
GO
ALTER TABLE [dbo].[exam_results] CHECK CONSTRAINT [ck_exam_results_ket_qua]
GO
ALTER TABLE [dbo].[exam_results]  WITH CHECK ADD  CONSTRAINT [ck_exam_results_so_cau] CHECK  (([so_cau_dung]<=[tong_so_cau]))
GO
ALTER TABLE [dbo].[exam_results] CHECK CONSTRAINT [ck_exam_results_so_cau]
GO
ALTER TABLE [dbo].[exam_results]  WITH CHECK ADD  CONSTRAINT [ck_exam_results_so_cau_dung] CHECK  (([so_cau_dung]>=(0)))
GO
ALTER TABLE [dbo].[exam_results] CHECK CONSTRAINT [ck_exam_results_so_cau_dung]
GO
ALTER TABLE [dbo].[exam_results]  WITH CHECK ADD  CONSTRAINT [ck_exam_results_tong_so_cau] CHECK  (([tong_so_cau]>=(0)))
GO
ALTER TABLE [dbo].[exam_results] CHECK CONSTRAINT [ck_exam_results_tong_so_cau]
GO
ALTER TABLE [dbo].[file_usages]  WITH CHECK ADD  CONSTRAINT [ck_file_usages_sort_order] CHECK  (([sort_order]>=(0)))
GO
ALTER TABLE [dbo].[file_usages] CHECK CONSTRAINT [ck_file_usages_sort_order]
GO
ALTER TABLE [dbo].[files]  WITH CHECK ADD  CONSTRAINT [ck_files_dimensions] CHECK  ((([width] IS NULL OR [width]>=(0)) AND ([height] IS NULL OR [height]>=(0))))
GO
ALTER TABLE [dbo].[files] CHECK CONSTRAINT [ck_files_dimensions]
GO
ALTER TABLE [dbo].[files]  WITH CHECK ADD  CONSTRAINT [ck_files_duration] CHECK  (([duration_seconds] IS NULL OR [duration_seconds]>=(0)))
GO
ALTER TABLE [dbo].[files] CHECK CONSTRAINT [ck_files_duration]
GO
ALTER TABLE [dbo].[files]  WITH CHECK ADD  CONSTRAINT [ck_files_size_bytes] CHECK  (([size_bytes]>=(0)))
GO
ALTER TABLE [dbo].[files] CHECK CONSTRAINT [ck_files_size_bytes]
GO
ALTER TABLE [dbo].[files]  WITH CHECK ADD  CONSTRAINT [ck_files_storage_provider] CHECK  (([storage_provider]='gcs' OR [storage_provider]='azure_blob' OR [storage_provider]='cloudinary' OR [storage_provider]='s3' OR [storage_provider]='local'))
GO
ALTER TABLE [dbo].[files] CHECK CONSTRAINT [ck_files_storage_provider]
GO
ALTER TABLE [dbo].[files]  WITH CHECK ADD  CONSTRAINT [ck_files_trang_thai] CHECK  (([trang_thai]='deleted' OR [trang_thai]='archived' OR [trang_thai]='active'))
GO
ALTER TABLE [dbo].[files] CHECK CONSTRAINT [ck_files_trang_thai]
GO
ALTER TABLE [dbo].[khoa_hoc]  WITH CHECK ADD  CONSTRAINT [ck_khoa_hoc_hoc_phi] CHECK  (([hoc_phi]>=(0)))
GO
ALTER TABLE [dbo].[khoa_hoc] CHECK CONSTRAINT [ck_khoa_hoc_hoc_phi]
GO
ALTER TABLE [dbo].[khoa_hoc]  WITH CHECK ADD  CONSTRAINT [ck_khoa_hoc_thoi_luong] CHECK  (([thoi_luong] IS NULL OR [thoi_luong]>(0)))
GO
ALTER TABLE [dbo].[khoa_hoc] CHECK CONSTRAINT [ck_khoa_hoc_thoi_luong]
GO
ALTER TABLE [dbo].[loai_khoan_thu]  WITH CHECK ADD  CONSTRAINT [ck_loai_khoan_thu_so_tien] CHECK  (([so_tien_mac_dinh]>=(0)))
GO
ALTER TABLE [dbo].[loai_khoan_thu] CHECK CONSTRAINT [ck_loai_khoan_thu_so_tien]
GO
ALTER TABLE [dbo].[lop_hoc]  WITH CHECK ADD  CONSTRAINT [ck_lop_hoc_ngay] CHECK  (([ngay_ket_thuc] IS NULL OR [ngay_bat_dau] IS NULL OR [ngay_ket_thuc]>=[ngay_bat_dau]))
GO
ALTER TABLE [dbo].[lop_hoc] CHECK CONSTRAINT [ck_lop_hoc_ngay]
GO
ALTER TABLE [dbo].[lop_hoc]  WITH CHECK ADD  CONSTRAINT [ck_lop_hoc_si_so] CHECK  (([si_so_toi_da]>=(0)))
GO
ALTER TABLE [dbo].[lop_hoc] CHECK CONSTRAINT [ck_lop_hoc_si_so]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [ck_posts_post_type] CHECK  (([post_type]='huong_dan' OR [post_type]='khoa_hoc' OR [post_type]='tin_tuc' OR [post_type]='gioi_thieu'))
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [ck_posts_post_type]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [ck_posts_trang_thai] CHECK  (([trang_thai]='archived' OR [trang_thai]='published' OR [trang_thai]='draft'))
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [ck_posts_trang_thai]
GO
ALTER TABLE [dbo].[phien_on_tap]  WITH CHECK ADD  CONSTRAINT [ck_phien_on_tap_diem] CHECK  (([diem]>=(0)))
GO
ALTER TABLE [dbo].[phien_on_tap] CHECK CONSTRAINT [ck_phien_on_tap_diem]
GO
ALTER TABLE [dbo].[phien_on_tap]  WITH CHECK ADD  CONSTRAINT [ck_phien_on_tap_so_cau_dung] CHECK  (([so_cau_dung]>=(0)))
GO
ALTER TABLE [dbo].[phien_on_tap] CHECK CONSTRAINT [ck_phien_on_tap_so_cau_dung]
GO
ALTER TABLE [dbo].[phien_on_tap]  WITH CHECK ADD  CONSTRAINT [ck_phien_on_tap_tong_so_cau] CHECK  (([tong_so_cau]>=(0)))
GO
ALTER TABLE [dbo].[phien_on_tap] CHECK CONSTRAINT [ck_phien_on_tap_tong_so_cau]
GO
ALTER TABLE [dbo].[phieu_thu]  WITH CHECK ADD  CONSTRAINT [ck_phieu_thu_tong_tien] CHECK  (([tong_tien]>=(0)))
GO
ALTER TABLE [dbo].[phieu_thu] CHECK CONSTRAINT [ck_phieu_thu_tong_tien]
GO
ALTER TABLE [dbo].[quyen_su_dung]  WITH CHECK ADD  CONSTRAINT [ck_qsd_ngay] CHECK  (([ngay_het_han] IS NULL OR [ngay_het_han]>=[ngay_hieu_luc]))
GO
ALTER TABLE [dbo].[quyen_su_dung] CHECK CONSTRAINT [ck_qsd_ngay]
GO
ALTER TABLE [dbo].[quyen_su_dung]  WITH CHECK ADD  CONSTRAINT [ck_qsd_nguon_cap] CHECK  (([nguon_cap]='promo' OR [nguon_cap]='manual' OR [nguon_cap]='payment'))
GO
ALTER TABLE [dbo].[quyen_su_dung] CHECK CONSTRAINT [ck_qsd_nguon_cap]
GO
ALTER TABLE [dbo].[quyen_su_dung]  WITH CHECK ADD  CONSTRAINT [ck_qsd_trang_thai] CHECK  (([trang_thai]='revoked' OR [trang_thai]='expired' OR [trang_thai]='active'))
GO
ALTER TABLE [dbo].[quyen_su_dung] CHECK CONSTRAINT [ck_qsd_trang_thai]
GO
USE [master]
GO
